* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Allerta Stencil", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.container-fluid {
  background-color: #fff;
}

.footerEscudo {
  padding-top: 100px;
}
.footerEscudo .logo-footer {
  display: flex;
  padding: 10px;
  background-color: #0d6efd;
  border-top: #000 solid 3px;
  justify-content: center;
  background-size: 1200px;
  align-items: center;
  height: 4.5rem;
}
.footerEscudo .nombres-footer {
  display: flex;
  padding: 10px;
  background-color: #0d6efd;
  justify-content: flex-end;
  background-size: 600px;
  align-items: center;
  height: 120px;
}
.footerEscudo .nombres-footer .balcarce {
  color: #000;
}

.Jugadores {
  background-image: url(./Fotos/Imagenes/Img-Equipo.jpg);
}
.Jugadores .card-img-top {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  height: 40rem;
  object-fit: cover;
}
.Jugadores .Titulo-Jugadores {
  display: block;
  text-align: center;
  padding: 30px;
  width: 100%;
  max-width: 100%;
  font-size: 3rem;
  margin: 0 auto;
  color: #000000;
  font-size: 3rem;
  background-color: #204970;
  border-radius: 2rem;
  border: #000 solid 0.2rem;
  display: inline-block;
  padding: 1rem 2rem;
}
.Jugadores .card-title {
  font-size: 50px;
  font-family: "Allerta Stencil", sans-serif;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: #000;
  font-size: 5rem;
}
.Jugadores .card-text {
  font-size: 50px;
  font-size: 1.1rem;
  color: #000000;
}
.Jugadores .info-extra {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease;
  font-size: 2.2rem;
  color: #000000;
}

.container-fluid {
  background-color: #0d6efd;
}

header .logoPrincipal {
  width: 150px;
  height: auto;
}

main .nombre-club {
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 3em;
}
main .haceteSocio {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  color: #0d6efd;
}
main .copaDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
}
main .copaDiv img.copa {
  width: 60%;
  height: auto;
}
main .parrafoCopa {
  display: flex;
  justify-content: center;
  font-size: 25px;
}

.main-contacto {
  height: 550px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.main-contacto .tituloContacto {
  color: #000;
}
.main-contacto .redes {
  display: flex;
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 100px;
  color: #096FCC;
}
.main-contacto .contenedorLogos {
  background-color: #096FCC;
  display: flex;
  justify-content: space-around;
}
.main-contacto .contenedorLogos .iconos {
  text-decoration: none;
  color: rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 5px;
}
.main-contacto .contenedorLogos .iconos .imgContactos {
  width: 50px;
  height: auto;
  padding-left: 15px;
  padding-top: 50px;
  padding-bottom: 50px;
}

@media (min-width: 415px) and (max-width: 400px) {
  .Titulo-Jugadores {
    text-align: center !important;
    width: 30%;
  }
}
@media (min-width: 415px) and (max-width: 768px) {
  .card {
    width: 100% !important;
  }
  h1.TituloContacto {
    font-size: 15px;
  }
  h2.redes {
    font-size: 10px;
  }
}
@media (min-width: 415px) and (max-width: 768px) {
  h5.card-title {
    font-size: 15px;
  }
}
@media (min-width: 415px) and (max-width: 768px) {
  h5.card-text {
    font-size: 10px;
  }
}
@media (min-width: 415px) and (min-width: 577px) {
  .navbar-nav .nav-link {
    padding: 12px 0;
    font-size: 1.2rem;
  }
  form.d-flex {
    padding-bottom: 2rem;
  }
  .copa {
    width: 500px;
  }
  h1.TituloContacto {
    font-size: 20px;
  }
}
@media (min-width: 769px) {
  .navbar-nav .nav-link {
    padding: 12px 0;
    font-size: 2.2rem;
  }
  form.d-flex {
    padding-bottom: 2rem;
  }
}
@media (max-width: 749px) {
  div.contenedorLogos {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  img.copa {
    width: 100%;
  }
  a.iconos {
    height: 75px;
    padding: 10px;
  }
}
@media (min-width: 576px) {
  header.logoPrincipal {
    width: 10px;
  }
}

/*# sourceMappingURL=estilos.css.map */
