.base-footer, .footerEscudo .nombres-footer, .footerEscudo .logo-footer {
  padding: 10px;
  background-color: #0d6efd;
}

* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Allerta Stencil", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-family: "Merriweather Sans", sans-serif;
  font-optical-sizing: auto;
}

html {
  font-size: 64.5%;
}

.footerEscudo {
  padding-top: 100px;
}
.footerEscudo .logo-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: #000 solid 3px;
  background-size: 1200px;
  width: 100%;
  height: 35px;
  background-color: #0d6efd;
}
.footerEscudo .logo-footer .logo-footer2 a img.logoFooter {
  height: 5.5rem;
  width: auto;
}
.footerEscudo .nombres-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: 600px;
  height: 180px;
}
.footerEscudo .nombres-footer .balcarce {
  color: #000;
}

a.navInicio:hover {
  color: #fff;
}

header img.logoPrincipal {
  width: 150px;
  height: auto;
}

main .titulo-jugadores {
  font-size: 4rem;
}
main .carousel .card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
  overflow: hidden;
}
main .carousel .card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
  color: rgb(0, 0, 0);
}
main .carousel .card:hover .info-extra {
  max-height: 200px;
  color: rgb(0, 0, 0);
}
main .carousel .card .info-extra {
  max-height: auto;
  overflow: hidden;
  transition: max-height 0.3s ease;
}

@media (min-width: 765px) {
  .card-img, .card-img-top {
    width: 55rem;
  }
}
header .logoPrincipal {
  width: 150px;
  height: auto;
}

main .titlesTomba {
  display: flex;
  flex-direction: column;
}
main .titlesTomba h1.nombre-club {
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-size: cover;
  background-position: center;
  color: #000;
  font-size: 40px;
  padding-top: 25px;
}
main .titlesTomba .haceteSocio {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 35px;
  color: #0d6efd;
  padding-bottom: 25px;
}
main .copaDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
}
main .copaDiv img.copa {
  width: 70%;
  height: auto;
}
main .h3, main h3 {
  padding: 20px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .fotoCampeones {
  display: flex;
  justify-content: center;
  align-items: center;
}
main .fotoCampeones img.campeonesNacional {
  width: 50%;
  padding-bottom: 35px;
}
main p {
  font-size: 1.5rem;
  color: #000;
  padding: 0px 65px;
}

@media (max-width: 575px) {
  header img.logoPrincipal {
    width: 110px;
  }
  main .titlesTomba .haceteSocio {
    font-size: 18px;
  }
}
@media (max-width: 534px) {
  main .titlesTomba .haceteSocio {
    font-size: 10px;
  }
}
html body {
  background-color: #ffffff;
}
html body main .main-contacto {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 250px;
  flex-direction: column;
  padding: 100px 0px 0px 0px;
}
html body main .main-contacto .tituloContacto {
  color: #000;
  text-align: center;
  margin-bottom: 20px;
  font-size: 4rem;
}
html body main .main-contacto .redes {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 100px;
  color: #0d6efd;
  font-size: 3.2rem;
  text-align: center;
}
html body main .contenedorTextos ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 45px;
  padding-bottom: 20px;
  gap: 10px;
}
html body main .contenedorTextos ul li {
  color: #000000;
  padding: 2px 35px;
  font-size: 1.8rem;
  text-align: center;
  min-width: fit-content;
}
html body main .contenedorTextos .txt {
  padding: 0px 10px;
  padding-bottom: 100px;
  color: #000000;
}
html body main .contenedorLogos {
  display: flex;
  flex-direction: column;
}
html body main .contenedorLogos ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}
html body main .contenedorLogos ul li a.iconos {
  color: #fff;
  text-decoration: none;
  padding: 10px;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease;
}
html body main .contenedorLogos ul li a.iconos:hover {
  transform: scale(1.1);
}
html body main .contenedorLogos ul li .fa-facebook {
  color: #0d6efd;
  font-size: 50px;
}
html body main .contenedorLogos ul li .fa-bus {
  color: rgb(161, 48, 48);
  font-size: 50px;
}
html body main .contenedorLogos ul li .fa-whatsapp {
  color: #0e8339;
  font-size: 50px;
}
html body main .contenedorLogos ul li .fa-envelope {
  color: #da0b0b;
  font-size: 50px;
}
html body main .contenedorLogos ul li .fa-instagram {
  color: #ad0cad;
  font-size: 50px;
}
html body main .contenedorLogos .derechos {
  color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  text-align: center;
  font-size: 0.9rem;
}

@media (max-width: 768px) {
  body main .main-contacto {
    padding: 50px 20px 0px 20px;
  }
  body main .main-contacto .tituloContacto {
    font-size: 1.5rem;
    color: #0d6efd;
  }
  body main .main-contacto h2.redes {
    font-size: 2.9rem;
    color: #0d6efd;
    padding-top: 30px;
    padding-bottom: 50px;
  }
  body main .contenedorTextos ul {
    padding: 0 20px;
    flex-direction: column;
    gap: 15px;
  }
  body main .contenedorTextos ul li {
    font-size: 1.4rem;
    padding: 5px 20px;
  }
  body main .contenedorLogos ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
    padding: 0 20px;
  }
  body main .contenedorLogos ul li a.iconos {
    padding: 15px;
  }
  body main .contenedorLogos ul .fa-facebook, body main .contenedorLogos ul .fa-bus, body main .contenedorLogos ul .fa-whatsapp,
  body main .contenedorLogos ul .fa-envelope, body main .contenedorLogos ul .fa-instagram {
    font-size: 40px;
  }
}
@media (max-width: 480px) {
  body main .main-contacto {
    padding: 30px 15px 0px 15px;
  }
  body main .main-contacto .tituloContacto {
    font-size: 1.2rem;
  }
  body main .main-contacto h2.redes {
    font-size: 2.5rem;
    padding-top: 20px;
    padding-bottom: 30px;
  }
  body main .contenedorTextos ul {
    padding: 0 10px;
  }
  body main .contenedorTextos ul li {
    font-size: 1.1rem;
    padding: 3px 10px;
  }
  body main .contenedorLogos ul {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 15px;
    padding: 0 10px;
  }
  body main .contenedorLogos ul li:last-child {
    grid-column: 1/-1;
    justify-self: center;
  }
  body main .contenedorLogos ul .fa-facebook, body main .contenedorLogos ul .fa-bus, body main .contenedorLogos ul .fa-whatsapp,
  body main .contenedorLogos ul .fa-envelope, body main .contenedorLogos ul .fa-instagram {
    font-size: 35px;
  }
  body main .derechos {
    font-size: 0.8rem;
    padding: 15px 10px;
  }
}
@media (max-width: 320px) {
  body main .contenedorTextos ul li {
    font-size: 1rem;
    padding: 2px 5px;
  }
  body main .contenedorLogos ul .fa-facebook, body main .contenedorLogos ul .fa-bus, body main .contenedorLogos ul .fa-whatsapp,
  body main .contenedorLogos ul .fa-envelope, body main .contenedorLogos ul .fa-instagram {
    font-size: 30px;
  }
}
@media (min-width: 415px) and (max-width: 768px) {
  .card {
    width: 100% !important;
  }
  h1.TituloContacto {
    font-size: 15px;
  }
  h2.redes {
    font-size: 1.5rem;
  }
}
@media (min-width: 415px) and (max-width: 768px) {
  h5.card-title {
    font-size: 15px;
  }
}
@media (min-width: 415px) and (max-width: 768px) {
  h5.card-text {
    font-size: 10px;
  }
}
@media (min-width: 415px) and (min-width: 577px) {
  .navbar-nav .nav-link {
    padding: 12px 0;
    font-size: 1.2rem;
  }
  form.d-flex {
    padding-bottom: 2rem;
  }
  .copa {
    width: 500px;
  }
  h1.TituloContacto {
    font-size: 20px;
  }
}
@media (min-width: 769px) {
  .navbar-nav .nav-link {
    padding: 5px 0;
    font-size: 2.2rem;
  }
  form.d-flex {
    padding-bottom: 2rem;
  }
}
@media (max-width: 749px) {
  div.contenedorLogos {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  img.copa {
    width: 100%;
  }
  a.iconos {
    height: 75px;
    padding: 10px;
  }
}
@media (max-width: 350px) {
  main {
    width: 100%;
  }
  h1.nombre-club {
    font-size: 30px;
    color: rgb(143, 0, 0);
  }
  h2.haceteSocio {
    font-size: 25px;
    color: #0d6efd;
  }
  img.copa {
    height: 100%;
  }
  h1.contacto {
    font-size: 50px;
  }
  h2.redes {
    font-size: 30.5rem;
  }
  main.main-contacto {
    height: 20px;
  }
  h3.balcarce {
    font-size: 1.3rem;
  }
  img.logoPrincipal {
    width: 100px;
    height: auto;
  }
}
@media (min-width: 576px) {
  header.logoPrincipal {
    width: 10px;
  }
}
@media (min-width: 576px) {
  .copaDiv {
    height: 90px;
  }
}
@media (min-width: 361px) {
  h1.nombre-club {
    font-size: 2px;
  }
}
@media (max-width: 665px) {
  .contenedorLogos {
    display: flex;
    flex-direction: column;
  }
}

/*# sourceMappingURL=estilos.css.map */
