



html{
    font-size: 64.5%;
}



.logoFooter{
    width: 80px;
    height: auto;
}

.navInicio{
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.navPrincipal{    
    background-color: #096FCC;
    display: flex;
}


.video{
    padding-top: 30px;
    display: flex;
    justify-content: center;
}





.ParrafoResultado{
    padding: 20px 20px 20px 20px;
    font-size: 15px;
}

.imgContactos{
    width: 50px;
    height: auto;
    padding-left: 15px;
    padding-top:50px ;
    padding-bottom: 50px;
}




.iconos{
    text-decoration: none;
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 5px;
}




nav.navPrincipal{
    display: flex;
    justify-content: space-between;
    background-color: #096FCC;
}






.info-extra {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease;
  font-size: 2.2rem;
  color: #000000;
}

.card:hover .info-extra {
  max-height: 150px; /* lo suficiente para mostrar todo el contenido */
}




div.TituloJugadores{
    display: flex;
    justify-content: center;
}



main {
  background-image: url('./Fotos/Imagenes/');
  background-size: cover;
  background-position: center;
  color: white;
  padding: 2rem;
}






/*  Poner escudo en el medio del background mitad azul abajo. mitad transparente arriba */
nav.navPrincipal{
    border-bottom: #000 solid 3px;
}

li:hover{
    background-color: rgb(34, 57, 134);
    border-radius: 20px;
    text-decoration: none;
}

a.navInicio:hover{
color: #fff;
}





















