
body{
    margin: 0;    
    box-sizing: border-box;
  font-family: "Allerta Stencil", sans-serif;
  font-weight: 400;
  font-style: normal;
}
html{
    font-size: 62.5%;
}
.lista{
    list-style: none;
    padding: 20px;
}

.SubtituloEstadioFeliciano{
    color: #000;
}
h1.EstadioFeliciano{
    color: #000;
    font-size: 5rem;
    padding: 25px;
}

.navInicio{
    font-size: 20px;
}

h1.EstadioFeliciano:hover{
    color: #096FCC;
    font-size: 5rem;
    padding: 25px;
    transition: 1.9s;
}

.logoPrincipal{
    width: 150px;
    height: auto;
}

.logoFooter{
    width: 80px;
    height: auto;
}
.copaDiv{
    display: flex;
    justify-content: center;
    width: 90%;
    height: auto;
}

.parrafoCopa{
    display: flex;
    justify-content: center;
    font-size: 25px;
}

.copa{
    width: 600px;
    height: auto;
}
.navInicio{
    text-decoration: none;
    color: rgb(0, 0, 0);
}
.navPrincipal{    
    background-color: #096FCC;
    display: flex;
}
h1{
    display: flex;
    justify-content: center;
    font-size: 3em;
}

.inauguacion{
    display: flex;
    justify-content: center;
}
.BannerEstadio img{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;    
    padding-bottom: 50px;
    
}
.video{
    padding-top: 30px;
    display: flex;
    justify-content: center;
}

.haceteSocio{
    display: flex;
    justify-content: center;
    font-size: 2em;
    color: #096FCC;
}



.contenedorLogos{
    background-color: #096FCC;
    display: flex;
    justify-content: space-around;
    
}
.parrafoEstadio{
    padding: 20px 20px 20px 20px;
    font-size: large;
}

.ParrafoResultado{
    padding: 20px 20px 20px 20px;
    font-size: 15px;
}
.bannerEstadioPrincipal{
    padding-top: 25px;
}
.imgContactos{
    width: 50px;
    height: auto;
    padding-left: 15px;
    padding-top:50px ;
    padding-bottom: 50px;
}

.redes{
    display: flex;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 100px;
    color: #096FCC ;
}

.footerContactos{
    padding-top: 80px;
}

.footerDireccion1{
    display: flex;
    justify-content: end;
    padding-right: 20px;
    padding: 18px 20px;
    font-size: 15px;
    background-color: #096FCC;
    align-items: end;
}

.footerDireccion2{
    display: flex;
    justify-content: end;
    padding-right: 20px;
    padding: 18px 20px;
    font-size: 15px;
    background-color: #096FCC;
}

.balcarce {
    color: #000
}


.footerEscudo{
    padding-top: 100px;
}

.iconos{
    text-decoration: none;
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 5px;
}


header{
    position: relative;
    display: inline-block;
    width: 100%;
}

nav.navPrincipal{
    display: flex;
    justify-content: space-between;
    background-color: #096FCC;
}

ul.lista{
    display: flex;
    justify-content: star;
    align-items: center;
    width: 100%;

}

ul.lista li{
    padding: 10px 30px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul.lista li:hover{
    text-decoration: underline;
    font-weight:bold ;
}
p.parrafoEstadio{
    font-size:15px ;
}

.elementor-background-video-embed{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-fluid{
    background-color: #096FCC;

}


.card-title{
    font-size: 50px;
}

.card-text{
    font-size: 50px;
}

.card {
  border: 2px solid #0d6efd; /* azul estilo Godoy Cruz */
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
  transition: transform 0.3s ease;
}

.card:hover {
  transform: scale(1.05);
  background-color: #096FCC;
}

.card-title {
  font-family: 'Allerta Stencil', sans-serif;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: #000;
  font-size: 5rem;

}

.card-text {
  font-size: 1.1rem;
  color: #000000;
}

.card-img-top {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  height: 600px;
  object-fit: cover;
}

.info-extra {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease;
  font-size: 2.2rem;
  color: #000000;
}

.card:hover .info-extra {
  max-height: 150px; /* lo suficiente para mostrar todo el contenido */
}

h2.Titulo-Jugadores{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    width: 60rem;
}
div.TituloJugadores{
    display: flex;
    justify-content: center;
}
.Titulo-Jugadores{
    color:#000000;
    font-size: 60px;
    background-color: #204970;
    width: 25%;
    border-radius: 2rem;
    border: #000 solid 0.2rem;
}


main {
  background-image: url('./Fotos/Imagenes/');
  background-size: cover;
  background-position: center;
  color: white;
  padding: 2rem;
}


.logo-footer{display: flex;
    padding: 10px;
    background-color: #096FCC;
    border-top: #000 solid 3px ;
    justify-content: center;
    background-size: 1200px;
    align-items: center;
    height: 120px;
}

.nombres-footer{
    display: flex;
    padding: 10px;
    background-color: #096FCC;
    justify-content: flex-end;
    background-size: 600px;
    align-items: center;
    height: 120px;

}

/*  Poner escudo en el medio del background mitad azul abajo. mitad transparente arriba */
nav.navPrincipal{
    border-bottom: #000 solid 3px;
}

li:hover{
    background-color: rgb(34, 57, 134);
    border-radius: 20px;
    text-decoration: none;
}

a.navInicio:hover{
color: #fff;
}
main.Jugadores{
    background-image: url(./Fotos/Imagenes/Img-Equipo.jpg);
}

main.main-contacto{
    height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.TituloContacto{
    color: #000;
}

main.main-estadio{
    background-image: url(./Fotos/Imagenes/Cesped.jpg);
    padding-top: 7rem ;
}

div.bannerEstadioPrincipal{
    display: flex;
    justify-content: center;
    align-items: center;
}

p.parrafoEstadio{
    color: #000;
    background-color: #096FCC;
}

.logo-footer{
    height: 4.5rem;
}


@media (max-width: 768px) {
    @media (min-width: 577px) {
        
        .navbar-nav .nav-link {
            padding: 12px 0;
            font-size: 1.2rem;
        }
        form.d-flex{
            padding-bottom: 2rem;
        }
    }
}

@media (min-width: 769px) {
  .navbar-nav .nav-link {
    padding: 12px 0;
    font-size: 2.2rem;
  }
  form.d-flex{
    padding-bottom: 2rem;    
  }
}
@media (max-width: 400px){
    .TituloJugadores{
        width: 50%;
    }
}

@media (max-width: 749px){
    div.contenedorLogos{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}

@media (max-width: 749px){
    a.iconos{
        height: 75px;
        padding: 10px;

    }
}

@media (min-width: 415px){
    h1.TituloContacto{
        font-size: 20px;
    }
}

@media (max-width: 415px){
    h1.TituloContacto{
        font-size: 15px;
    }
}



@media (max-width: 415px){
    h2.redes{
        font-size: 10px;
    }
}


@media (max-width: 400px) {
  .Titulo-Jugadores {
    text-align: center !important;
  }
}

@media (max-width: 768px) {
  .card {
    width: 100% !important; 
    
  }
}

@media (max-width: 768px) {
  h5.card-title {
    font-size: 15px;
    
  }
}

@media (max-width: 768px) {
  h5.card-text {
    font-size: 10px;
    
  }
}

@media (max-width: 768px) {
  .img.copa {
    width: 100% !important; 
    
  }
}
