

/////main.scss (En realidad es el index.html)

@use './variables' as *;


header{
    .logoPrincipal{
    width: 150px;
    height: auto;
}
}

main{
    .titlesTomba{
        
    display: flex;
    flex-direction: column;
    
    h1.nombre-club{
        color: #000;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;      
        background-size: cover;
        background-position: center;
        color: #000;
        font-size: 40px;
        padding-top: 25px;
    }

    
    .haceteSocio{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    color: $Tomba;
    padding-bottom: 25px;
    }
}
    .copaDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; 
    height: auto;

    img.copa{
    width: 70%;
    height: auto;
}
}   
    .h3,h3{
        padding: 20px 0px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .fotoCampeones{
        display: flex;
        justify-content: center;
        align-items: center;

        img.campeonesNacional{
            width: 50%;
            padding-bottom: 35px;
        }           
}
    
    p{
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 1.5rem;
            color: #000;
            padding: 0px 65px;
}
}


@media (max-width: 575px) {
    header img.logoPrincipal{
        width: 110px;
    }
    main .titlesTomba .haceteSocio{
        font-size: 18px;
    }
}


@media (max-width: 534px) {
    main .titlesTomba .haceteSocio {
        font-size: 10px;
    }
}