// Mixin para Flexbox
@mixin flexbox($justify: center, $align: center) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}

main {
  .tituloTienda {
    @include flexbox(center, center);
    padding: 40px 20px;
    text-transform: uppercase;
    font-weight: bold;
    color: #0066cc; // Azul Godoy Cruz
  }

  .subtitulo {
    @include flexbox(center, center);
    padding: 20px;
    text-transform: uppercase;
    font-size: 1.8rem;
    color: #000000;
  }

  .contenedorTienda {
    display: grid;
    grid-template-columns: repeat(4, 1fr);  // Se define un grid con 4 columnas
    gap: 20px;  // Espaciado entre los productos
    padding: 0px 150px;
    padding-top: 50px;

    // Responsivo para pantallas pequeñas
    @media (max-width: 1200px) {
      grid-template-columns: repeat(3, 1fr); // 3 columnas para pantallas medianas
    }

    @media (max-width: 900px) {
      grid-template-columns: repeat(2, 1fr); // 2 columnas para pantallas más pequeñas
    }

    @media (max-width: 600px) {
      grid-template-columns: 1fr; // 1 columna en pantallas muy pequeñas (como teléfonos)
    }

    .productos {
      border: #000000 1px solid;  // Borde alrededor de los productos
      padding: 10px;
      background-color: #f9f9f9;  // Color de fondo de los productos

      .fotoTienda {
        max-width: 100%;
        max-height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .descripcion-precio {
        text-decoration: none;
        padding: 0px 20px;
        text-align: center;
      }

      .botonAgregar {
        background-color: #0066cc;  // Color de fondo del botón de agregar
        color: white;
        width: 100%;
        padding: 10px;
        border-radius: 5px;
        text-align: center;
        cursor: pointer;
        
        &:hover {
          background-color: #004a99;  // Color de fondo al pasar el mouse
        }
      }
    }
  }

  // Estilo para el carrito
  .carrito {
    padding-top: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;

    .compraCarrito {
      background-color: #0066cc;
      color: white;
      padding: 15px 30px;
      border-radius: 50px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      font-size: 1.2rem;
      cursor: pointer;
      z-index: 1000;

      &:hover {
        background-color: #4377aa;
      }
    }
  }

  // Contenedor del botón flotante del carrito
  .contenedorBotonCantidad {
    @include flexbox(end, center);
    position: fixed; 
    bottom: 30px;
    right: 15px;
    z-index: 1000;

    button.botonCarrito {
      background-color: #0d6efd;  // Color azul para el botón
      color: white;
      width: 60px;
      height: 60px;
      border-radius: 50%;      
      border: none;
      font-size: 24px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      cursor: pointer;

      .botonCantidad{
        padding-right:3px ;
      }

      &:hover {
        background-color: #000000;  // Cambia el color al pasar el mouse
      }
    }
  }

  .dl, ol, ul{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    .listaCompra{
      padding: 10px;
      margin: 5px;
      border: 1px solid #000000;
      width: 300px;
      text-align: center;
      list-style: none;
      font-size: 50px;
    }
  }
}
