// Mixin para Flexbox
@mixin flexbox($justify: center, $align: center) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}

main {
  .tituloTienda {
    @include flexbox(center, center);
    padding: 40px 20px;
    text-transform: uppercase;
    font-weight: bold;
    color: #0066cc; // Azul Godoy Cruz
  }

  .subtitulo {
    @include flexbox(center, center);
    padding: 20px;
    text-transform: uppercase;
    font-size: 1.8rem;
    color: #000000;
  }

  .contenedorTienda {
    display: grid;
    grid-template-columns: repeat(4, 1fr); // 4 columnas en desktop
    gap: 20px;
    padding: 50px 150px;

    // Productos
    .productos {
      border: #000000 1px solid;
      padding: 10px;
      background-color: #f9f9f9;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .fotoTienda {
        width: 100%;
        height: auto;
        object-fit: contain;
        display: block;
        margin: 0 auto 10px auto;
      }

      .descripcion-precio {
        text-align: center;
        margin-bottom: 10px;
      }

      .nombreProducto {
        font-weight: bold;
      }

      .precioProducto {
        color: #0066cc;
      }

      .botonAgregar {
        background-color: #0066cc;
        color: white;
        width: 100%;
        padding: 10px;
        border-radius: 5px;
        text-align: center;
        cursor: pointer;
        transition: background-color 0.3s;

        &:hover {
          background-color: #004a99;
        }
      }
    }

    // Media queries
    @media (max-width: 1200px) {
      grid-template-columns: repeat(3, 1fr);
      padding: 50px 50px;
    }

    @media (max-width: 900px) {
      grid-template-columns: repeat(2, 1fr);
      padding: 50px 30px;
    }

    @media (max-width: 600px) {
      grid-template-columns: 1fr; // 1 columna en móviles
      padding: 50px 20px;

      .productos {
        width: 100%; // Ocupar todo el ancho disponible
        max-width: 400px;
        margin: 0 auto;
      }

      .fotoTienda {
        max-width: 100%;
        height: auto;
      }

      .descripcion-precio {
        font-size: 0.9rem;
      }

      .botonAgregar {
        font-size: 0.9rem;
        padding: 8px;
      }
    }
  }

  // Carrito
  .carrito {
    padding-top: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;

    .compraCarrito {
      background-color: #0066cc;
      color: white;
      padding: 15px 30px;
      border-radius: 50px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      font-size: 1.2rem;
      cursor: pointer;

      &:hover {
        background-color: #4377aa;
      }
    }
  }

  // Botón flotante del carrito
  .contenedorBotonCantidad {
    @include flexbox(end, center);
    position: fixed; 
    bottom: 30px;
    right: 15px;
    z-index: 1000;
    gap: 3px;

    button.botonCarrito {
      background-color: #0d6efd;
      color: white;
      width: 60px;
      height: 60px;
      border-radius: 50%;      
      border: none;
      font-size: 24px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      cursor: pointer;

      &:hover {
        background-color: #000000;
      }
    }
    button.vaciarCarrito {
      background-color: #0d6efd;
      color: white;
      width: 60px;
      height: 60px;
      border-radius: 50%;      
      border: none;
      font-size: 24px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      cursor: pointer;

      &:hover {
        background-color: #000000;
      }
  }}

  // Detalle de la compra
  .detalleCompra {
    background-color: #fff;
    padding: 20px;
    margin: 20px auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 500px;

    h3 {
      font-size: 1.5rem;
      font-weight: bold;
      color: #0066cc;
      margin-bottom: 20px;
      text-align: center;
    }

    .listaCompra {
      list-style: none;
      padding: 0;
      margin-bottom: 20px;

      li {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
        font-size: 1rem;
        color: #000;

        .productoNombre {
          font-weight: bold;
        }

        .productoPrecio {
          color: #0066cc;
        }
      }
    }

    .totalCompra {
      font-size: 1.3rem;
      font-weight: bold;
      text-align: right;
      color: #0066cc;
    }

    // Mobile adjustments
    @media (max-width: 600px) {
      max-width: 100%;

      h3 {
        font-size: 1.2rem;
      }

      .listaCompra li {
        font-size: 0.9rem;
      }

      .totalCompra {
        font-size: 1.1rem;
      }
    }
  }
}
